@import url("zeros.css");
body {
  background-color: rgb(195, 220, 228);
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

.game-app {
  min-height: 100%;
  min-width: 100%;
}

.page {
  flex: 1 1 auto;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  border: 0.5px black solid;
  perspective: 5000px;
  transform-style: preserve-3d;
  margin-bottom: 20px;
}
.game__column {
  transform-style: preserve-3d;
  max-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.game__item {
  transition: 0.4s;
  background-color: #001eff;
  border: 0.5px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
  cursor: pointer;
}
.game__item:hover {
  background-color: #364dff;
}
.game__item * {
  user-select: none;
  pointer-events: none;
  text-align: center;
  font-size: 5px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0;
}
.game__item__void {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__void:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__losed {
  background-image: url(../images/mine.png);
  background-size: cover;
}
.game__item__losed-click {
  background-image: url(../images/mine.png), linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
  background-size: cover;
}
.game__item__minned {
  background-image: url(../images/flag.png);
  background-size: cover;
}
.game__item__error {
  background-image: url(../images/error.png), url(../images/flag.png), linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3));
  background-size: cover;
}
.game__item__1 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__1:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__1 * {
  color: blue;
}
.game__item__2 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__2:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__2 * {
  color: green;
}
.game__item__3 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__3:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__3 * {
  color: rgb(186, 0, 0);
}
.game__item__4 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__4:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__4 * {
  color: rgb(20, 0, 146);
}
.game__item__5 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__5:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__5 * {
  color: #800000;
}
.game__item__6 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__6:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__6 * {
  color: #20B2AA;
}
.game__item__7 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__7:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__7 * {
  color: rgb(126, 0, 0);
}
.game__item__8 {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
}
.game__item__8:hover {
  background-color: rgb(206, 206, 206);
}
.game__item__8 * {
  color: black;
}

.game-out {
  padding: 20px;
  background-color: rgb(0, 0, 143);
  border-radius: 20px;
}

.game-botton {
  display: flex;
  justify-content: space-between;
}

.inputer {
  font-size: 20px;
}

#restart {
  user-select: none;
  font-size: 25px;
  padding: 12px;
  background-color: aquamarine;
  border-radius: 20px;
}

#loseText, #winText {
  z-index: 3;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mines-counter, .time-counter {
  float: right;
  font-size: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  border-radius: 7px;
}
.mines-counter__left, .time-counter__left {
  height: 2em;
}
.mines-counter__counter, .time-counter__counter {
  padding: 7px 15px;
  background-color: darkblue;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.time-counter {
  float: left;
}

.mode-app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(195, 220, 228);
}

.mode {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}
.mode__header {
  margin-bottom: 35px;
  text-align: center;
  font-size: 20px;
}
.mode__body {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 20px;
}
.mode-item {
  user-select: none;
  background-color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  border: 3px rgb(214, 214, 214) solid;
}
.mode-item:hover {
  border: 3px black solid;
  transform: scale(135%, 135%);
  z-index: 2;
}
.mode-item__body {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mode-item__body > * {
  text-align: center;
  font-size: 18px;
}
.mode-item__name {
  font-size: 25px;
}
.create {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.create * {
  font-size: 20px;
  text-align: center;
}
.create label {
  margin-bottom: 3px;
}
.create input {
  border: 2px black dashed;
  margin-bottom: 2px;
}
.create button {
  padding: 10px;
}

.endModule {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 100%;
  padding: 100px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.endModule__text {
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.endModule__newGame {
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 20%/50%;
  background-color: darkblue;
  color: white;
  transition: 0.5s;
}
.endModule__newGame:hover {
  background-color: blue;
}
.endModule__close {
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  z-index: 2;
  color: white;
  left: 100%;
  top: 20px;
  transform: translateX(-100%) translateX(-20px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu__open .menu__burger-line:nth-child(1) {
  transform: translateY(9px) rotateZ(-45deg);
}
.menu__open .menu__burger-line:nth-child(2) {
  transform: rotateZ(45deg);
}
.menu__open .menu__burger-line:nth-child(3) {
  transform: translateY(-9px) rotateZ(45deg);
}
.menu__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}
.menu__burger-line {
  transition: 0.5s;
  pointer-events: none;
  height: 2px;
  width: 30px;
  background-color: blue;
}
.menu__body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__body-item {
  transform: translateX(150%);
  opacity: 0;
  transition: 0.5s;
  font-size: 20px;
  color: blue;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  text-align: right;
  white-space: nowrap;
}
.menu__body-item:hover {
  color: darkblue;
}
.menu__open .menu__body-item {
  transform: none;
  opacity: 1;
}

.menu__body-item:nth-child(1) {
  transition-delay: calc(1s / 10);
}

.menu__body-item:nth-child(2) {
  transition-delay: calc(2s / 10);
}

.menu__body-item:nth-child(3) {
  transition-delay: calc(3s / 10);
}

.menu__body-item:nth-child(4) {
  transition-delay: calc(4s / 10);
}

.menu__body-item:nth-child(5) {
  transition-delay: calc(5s / 10);
}

.menu__body-item:nth-child(6) {
  transition-delay: calc(6s / 10);
}

.menu__body-item:nth-child(7) {
  transition-delay: calc(7s / 10);
}

.menu__body-item:nth-child(8) {
  transition-delay: calc(8s / 10);
}

.menu__body-item:nth-child(9) {
  transition-delay: calc(9s / 10);
}

/*# sourceMappingURL=styles.css.map */
