@import url('zeros.css');

body {
    background-color: rgb(195, 220, 228);
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}
.header {

}
.game-app {
    min-height: 100%;
    min-width: 100%;
}
.page {
    flex: 1 1 auto;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.game {
    display: flex;
    border: 0.5px black solid;
    perspective: 5000px;
    transform-style: preserve-3d;
    margin-bottom: 20px;
    &__column {
        transform-style: preserve-3d;
        max-height: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    &__item {
        transition: 0.4s;
        background-color: #001eff;
        border: 0.5px black solid;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
        cursor: pointer;
        &:hover {
            background-color: #364dff;
        }
        * {
            user-select: none;
            pointer-events: none;
            text-align: center;
            font-size: 5px;
            font-weight: 900;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            opacity: 0;
        }
        &__void {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
        }
        &__losed {
            background-image: url(../images/mine.png);
            background-size: cover;
            &-click {
                background-image: url(../images/mine.png), linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
                background-size: cover;
            }
        }
        &__minned {
            background-image: url(../images/flag.png);
            background-size: cover;
        }
        &__error {
            background-image:  url(../images/error.png), url(../images/flag.png), linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3));
            background-size: cover;
        }

        //------------
        &__1 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: blue;
            }
        }
        &__2 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: green;
            }
        }
        &__3 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: rgb(186, 0, 0);
            }
        }
        &__4 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: rgb(20, 0, 146);
            }
        }
        &__5 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: #800000;
            }
        }
        &__6 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: #20B2AA;
            }
        }
        &__7 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: rgb(126, 0, 0);
            }
        }
        &__8 {
            background-color: rgb(206, 206, 206);
            box-shadow: none;
            &:hover {
                background-color: rgb(206, 206, 206);
            }
            * {
                color: black;
            }
        }
    }
}
.game-out {
    padding: 20px;
    background-color: rgb(0, 0, 143);
    border-radius: 20px;
}
.game-botton {
    display: flex;
    justify-content: space-between;
}
.inputer {
    font-size: 20px;
}
#restart {
    user-select: none;
    font-size: 25px;
    padding: 12px;
    background-color: aquamarine;
    border-radius: 20px;
}
#loseText, #winText {
    z-index: 3;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.mines-counter, .time-counter {
    float: right;
    font-size: 30px;
    display: flex;
    gap: 10px;
    align-items: center;

    padding: 5px 10px;
    background-color: white;
    border-radius: 7px;
    &__left {
        height: 2em;
    }

    &__counter {
        padding: 7px 15px;
        background-color: darkblue;
        color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
}
.time-counter {
    float: left;
}
.footer {

}

.mode-app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(195, 220, 228);
}
.mode {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    border-radius: 20px;

    &__header {
        margin-bottom: 35px;
        text-align: center;
        font-size: 20px;
    }

    &__body {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 20px;
    }

    &__item {
    }
}
.mode-item {
    user-select: none;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    border: 3px rgb(214, 214, 214) solid;
    &:hover {
        border: 3px black solid;
        transform: scale(135%, 135%);
        z-index: 2;
    }
    &__body {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        > * {
            text-align: center;
            font-size: 18px;
        }
    }

    &__name {
        font-size: 25px;
    }

    &__size {
    }

    &__mines {
    }
}

.create {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    * {
        font-size: 20px;
        text-align: center;
    }
    label {
        margin-bottom: 3px;
    }
    input {
        border: 2px black dashed;
        margin-bottom: 2px;
    }
    button {
        padding: 10px;
    }
}

.endModule {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 100%;
    padding: 100px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    &__text {
        font-size: 100px;
        text-align: center;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__newGame {
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 20% / 50%;
        background-color: darkblue;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: blue;
        }
    }
    &__close {
        width: 50px;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
    }
}

.menu {
    position: absolute;
    z-index: 2;
    color: white;
    left: 100%;
    top: 20px;
    transform: translateX(-100%) translateX(-20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__open {
        .menu__burger {

            &-line {
                &:nth-child(1) {
                    transform: translateY(9px) rotateZ(-45deg);
                }
                &:nth-child(2) {
                    transform: rotateZ(45deg);
                }
                &:nth-child(3) {
                    transform: translateY(-9px) rotateZ(45deg);
                }
            }
        }
    }
    &__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 20px;
        &-line {
            transition: 0.5s;
            pointer-events: none;
            height: 2px;
            width: 30px;
            background-color: blue;
        }
    }
    &__body {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-item {
            transform: translateX(150%);
            opacity: 0;
            transition: 0.5s;
            font-size: 20px;
            color: blue;
            transition: 0.5s;
            user-select: none;
            cursor: pointer;
            text-align: right;
            white-space: nowrap;
            &:hover {
                color: darkblue;
            }
        }
    }
    &__open {
        .menu__body-item {
            transform: none;
            opacity: 1;
        }
    }
}
@for $i from 1 to 10 {
    .menu__body-item:nth-child(#{$i}) {
        transition-delay: calc(#{$i}s / 10);
    }
}
